<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="theme.css"/>
  </head>
  <body>
    <div id="app">
      <div id="takeoff" v-on:click="toggleTakeoff">
      <h2>Takeoff mass calculations</h2>
      <div v-if="showTakeoff">
      <label for="athrust">Average thrust</label>
      <input id="athrust" type="text" v-model="thrust" value=0 debounce=500/>
      {{ thrust / 22.45}} lb maximum
      <p>
      <label for="takeoffmass">Takeoff Mass (lb)</label>
      <input id="takeoffmass" type="text" v-model="takeoffm" value=0 debounce=500>
      {{ takeoffm * 22.45}} average Ns needed
      </p>
      </div>
      </div>
    </div>

    <script>
      var Vue = require('vue');
      var vm = new Vue({
        el: '#app',
        data:{
          showTakeoff:false,
        },
        methods:{
          toggleTakeoff: function(event){
            this.showTakeoff = !this.showTakeoff;
          }
        }

      });
    </script>
  </body>
</html>
